.advantage {
    padding: 50px 0 100px;
    background-image: url(../images/bg_advantage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    max-height: 590px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(20, 20, 20, 0.62);
    }

    &__title {
        color: #ffffff !important;
        margin-bottom: 30px;
        
        &:before {
            content: "";
            background-color: #fff;
        }

    }

    &__inner {
        padding-top: 110px;
        position: relative;
    }

    &__text {
        text-align: center;
        color: #e6e6e6;
        margin-bottom: 60px;
        line-height: 19px;
    }

    &__wraper {
        text-align: center;
    }

    & img {
        position: absolute;

        &:nth-child(2n) {
            padding: 30px 0; 
        }

    }

    &__img {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 3px solid #fff;
        background-color: transparent;
    }

    &__heading {
        margin: 15px 0px 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }

    &__desc {
        line-height: 19px;
        color: #f0f0f0;
    }

}


.img-medal {
    left: 22px;
    top: 15px;
}

.img-star {
    top: 26px;
    left: 10px;
}

.img-sertificat {
    top: 18px;
    left: 26px;
}