.advantage {
    background-image: url(../../images/architecture_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;

    &__mask {
        padding: 70px 0 80px;
        background-color: #111111;
        // opacity: .62;
        height: 100%;
    }

    &__title {
        color: #ffffff !important;
        margin-bottom: 30px;
        
        &:before {
            content: "";
            background-color: #fff;
        }

    }

    &__inner {
        padding-top: 110px;
        position: relative;
    }

    &__text {
        text-align: center;
        margin-bottom: 40px;
    }

    &__wraper {
        text-align: center;
    }
    & img {
        padding-bottom: 1px;

        &:nth-child(2n) {
            padding: 30px 0; 
        }

    }

    &__img {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #fff;
        background-color: transparent;
    }

    &__heading {
        margin: 10px 0;
        font-weight: 600;
    }

    &__desc {
        font-size: 12px;
        font-weight: 500;
    }

}