.footer {
    padding: 45px 0px 65px;
    text-align: center;
    background-color: #2c2c2c;
    color: #fff;

    & a {
        text-decoration: none;
        color: #fff;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        letter-spacing: 1.05px;
    }

    &__copyright {
        margin: 30px auto 35px;
        font-weight: 300;
        line-height: 20px;
    }

    &__social {

        & a {
            margin-right: 13px;

            & img {
                width: 26px;
                height: 26px;
            }

        }
        
    }

}