.nav {
    position: relative;
    top: 25px;

    &__wrapper {
        background-color: #e60000;
        padding: 12px 10px 12px 50px;
    }

    & a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        margin-right: 40px;
    }

}