.news {
    padding: 80px 0;

    &__title {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__img {
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.23);
    }

    &__date {
        font-weight: 300;
        line-height: 14px;
        color: #a1a0a0;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    &__heading {
        color: #1c1c1c;;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__desc {
        color: #2a2a2a;
        font-weight: 300;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            // background-image: linear-gradient(to bottom, rgba (255, 255, 255, 0), rgba(0, 0, 0, 0));
        }

    }

}