.portfolio {
    padding: 75px 0px 70px;

    &__block-img {
        margin-top: 10px; 

        & a {
            cursor: pointer;

        }

    }

    &__wraper {
        text-align: center;
    }

    &__text {
        margin-top: 35px;
        margin-bottom: 30px;
        font-weight: 300;
        line-height: 19px;
        color: #2a2a2a;
    }

    &-btn {
        padding: 5px 40px;
        box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.24);
        border-radius: 3px;
    }

}

.images-inner {
    width: 368px;
    height: 286px;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
    
    & img {
        width: 100%;
        height: 100%;
    }

    

}

