.portfolio {
    padding: 80px 0;

    &__block-img {
        margin-top: 10px; 

        & a {
            cursor: pointer;
        }

    }

    &__wraper {
        text-align: center;
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &-btn {
        padding: 10px 40px;
        box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);
    }

}