.request {
    background-image: url(../../images/architecture_0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

    &__mask {
        padding: 80px 0;
        background-color: #111111;
        // opacity: .62;
    } 

    &__title {
        position: relative;
        font-size: 26px;
        font-weight: 700;
        line-height: 13.29px;
        margin-bottom: 50px;
    
        &:before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 2px;
            background-color:white;
        }
    }

    &__desc {
        margin-bottom: 40px;
    }

    &-btn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px 50px;
    }

}

.form-group {
    margin: 0 auto;
    max-width: 515px;

    & input {
        color: #000;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;
        padding: 10px 40px 10px 10px;
        width: 500px;
        border: none;
        border-radius: 3px;
    }

}

.checkbox {
    display: flex;
    align-items: center;

    & input[type="checkbox"] {
        visibility: hidden;
        width: 1px;
        height: 1px;
        margin-left: -5px;

        &:checked {

            &~.checkbox__custome {

                &:before {
                    content: "\f00c";
                    font-family: 'icomoon';
                    color: #e60000;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    font-size: 18px;
                }

            }

        }

    }

    &__custome {
        content: "";
        position: relative;
        display: block;
        height: 15px;
        width: 15px;
        border: 1px solid #fff;
        margin-right: 20px;
        // background-color: transparent;

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
        }

    }

}

.input-icon {
    position: relative;
}

.icon-envelope-o,
.icon-mobile,
.icon-user {
    position: relative;
    top: -35px;
    right: -44%;
    font-size: 20px;
    color: #e60000;
}

.icon-mobile {
    font-size: 25px;
}