.request {
    padding: 80px 0;
    background-image: url(../../images/architecture_0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    // filter: brightness(0.60);

    &__title {
        position: relative;
        font-size: 26px;
        font-weight: 700;
        line-height: 13.29px;
        margin-bottom: 50px;
    
        &:before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 70px;
            height: 2px;
            background-color:white;
        }
    }

    &__desc {
        margin-bottom: 40px;
    }

    &-btn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px 50px;
    }

}

.form-group {
    margin: 0 auto;
    width: 600px;

    & input {
        color: #000;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 10px;
        width: 500px;
    }
}

.form-icon {
    position: relative;
    left: -30px;
}