.specialist {
    padding: 60px 0 120px;

    &__profession {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 14px;
        color: #a1a0a0;
    }

    &__name {
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        position: relative;
        margin-bottom: 35px;

        &:before {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 90px;
            height: 2px;
            background-color: #e60000;
        }
    }

    &__text {
        color: #2a2a2a;
        line-height: 19px;
    }

}
