@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n4x6vq');
  src:  url('../fonts/icomoon.eot?n4x6vq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n4x6vq') format('truetype'),
    url('../fonts/icomoon.woff?n4x6vq') format('woff'),
    url('../fonts/icomoon.svg?n4x6vq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-bold:before {
  content: "\ea62";
}
