.advantage__mask
.advantage
    .container
            .row
                .col
                    .advantage__title.title Наши преимущества
            .row.justify-content-center
                .col-6
                    .advantage__text.
                       Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичесная концепция общественного уклада 
                       не дает нам иного выбора, кроме. 
            .row.advantage__wraper.justify-content-between
                .col-3
                    span.advantage__img
                    img(src="images/icon/medal.svg", alt="Иконка круглая")
                    .advantage__heading 100% гаранитя качества
                    .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким.
                .col-3
                    span.advantage__img
                    img(src="images/icon/star.svg", alt="Иконка круглая")
                    .advantage__heading Надежная репутация
                    .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким вовлечением представителей.
                .col-3
                    span.advantage__img
                    img(src="images/icon/sertificat.svg", alt="Иконка круглая")
                    .advantage__heading Сертифицированые инженеры
                    .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким. 