.advantage
    .container
            .row
                .col
                    .advantage__title
                        .title Наши преимущества
            .row
                .col
                    .advantage__desc.
                       Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичесная концепция общественного уклада 
                       не дает нам иного выбора, кроме. 
            .row
                .col-4
                    img(src="", alt="Иконка круглая")
                    .advantage__heading 100% гаранитя качества
                    .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким вовлечением представителей.
                .col-4
                    img(src="", alt="Иконка круглая")
                    .advantage__heading Надежная репутация
                    .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким вовлечением представителей.
                .col-4
                    img(src="", alt="Иконка круглая")
                    .advantage__heading Сертифицированые инженеры
                    .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким вовлечением представителей. 