.advantage
    .advantage__mask
        .container
                .row
                    .col
                        .advantage__title.title Наши преимущества
                .row.justify-content-center
                    .col-6
                        .advantage__text.
                            Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичесная концепция общественного уклада 
                            не дает нам иного выбора, кроме. 
                .row.advantage__wraper.justify-content-between
                    .col-3.advantage__inner
                        .advantage__img
                            img(src="images/medal.png", alt="").img-medal
                        .advantage__heading 100% гаранитя качества
                        .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким.
                    .col-3.advantage__inner
                        .advantage__img
                            img(src="images/stars.png", alt="").img-star
                        .advantage__heading Надежная репутация
                        .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким вовлечением представителей.
                    .col-3.advantage__inner
                        .advantage__img
                            img(src="images/sertificat.png", alt="").img-sertificat
                        .advantage__heading Сертифицированые инженеры
                        .advantage__desc Высокий уровень вовлечения представителей целевой аудитории является четким. 