.attendance
    .container
            .row
                .col
                    .attendance__title.title Наши услуги
            .row
                .col-4
                    img(src="", alt="Услуги картинка")
                    .attendance__heading Консультация
                .col-4
                    img(src="", alt="Услуги картинка")
                    .attendance__heading Создания страницы
                .col-4
                    img(src="", alt="Услуги картинка")
                    .attendance__heading Подпись документов
            .row
                .col-4
                    img(src="", alt="Услуги картинка")
                    .attendance__heading Консультация
                .col-4
                    img(src="", alt="Услуги картинка")
                    .attendance__heading Создания страницы
                .col-4
                    img(src="", alt="Услуги картинка")
                    .attendance__heading Подпись документов