.attendance
    .container
            .row
                .col
                    .attendance__title.title Наши услуги
            .row.justify-content-center
                .col-4
                    img(src="images/urban.jpg", alt="Услуги картинка")
                    .attendance__heading Консультация
                .col-4
                    img(src="images/architecture_1.jpg", alt="Услуги картинка")
                    .attendance__heading Создания страницы
                .col-4
                    img(src="images/architecture_1.jpg", alt="Услуги картинка")
                    .attendance__heading Подпись документов
            .row.justify-content-center
                .col-4
                    img(src="images/architecture_3.jpg", alt="Услуги картинка")
                    .attendance__heading Консультация
                .col-4
                    img(src="images/architecture.jpg", alt="Услуги картинка")
                    .attendance__heading Создания страницы
                .col-4
                    img(src="images/urban.jpg", alt="Услуги картинка")
                    .attendance__heading Подпись документов