.comment
    .container
            .row
                .col
                    .comment__title.title Отзывы
            .row.comment__block
                .col.comment__img-wrap
                    img.comment__img(src="images/anna.jpg", alt="Фото круглое")
                .col-9.comment__wrapper.comment__wrapper-left
                    .comment__name Иванова Мария Ивановна
                    span.comment__city г. Екатеринбург,
                    span.comment__date 22.12.20108
                    .comment__desc.
                        Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада не дает 
                        нам иного выбора, кроме определения поэтапного и последовательного развития общества. Предварительные выводы неутешительны: глубокий уровень погружения предполагает 
                        независимые способы реализации прогресса профессионального сообщества. С учетом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности 
                        требует ующих условий активизации.
            .row.comment__block
                .col-9.comment__wrapper.comment__wrapper-right
                    .comment__name Иванова Анна Ивановна
                    span.comment__city г. Екатеринбург,
                    span.comment__date 22.12.20108
                    .comment__desc.
                        Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада не дает 
                        нам иного выбора, кроме определения поэтапного и последовательного развития общества. Предварительные выводы неутешительны: глубокий уровень погружения предполагает 
                        независимые способы реализации прогресса профессионального сообщества. С учетом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности 
                        требует ующих условий активизации.
                .col.comment__img-wrap.justify-content-end
                    img.comment__img(src="images/anna1.jpg", alt="Фото круглое")
            .row.comment__block
                .col.comment__img-wrap
                    img.comment__img(src="images/ivan.jpg", alt="Фото круглое")
                .col-9.comment__wrapper.comment__wrapper-left
                    .comment__name Иванов Иван Иванович
                    span.comment__city г. Екатеринбург,
                    span.comment__date 22.12.20108
                    .comment__desc.
                        Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада не дает 
                        нам иного выбора, кроме определения поэтапного и последовательного развития общества. Предварительные выводы неутешительны: глубокий уровень погружения предполагает 
                        независимые способы реализации прогресса профессионального сообщества. С учетом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности 
                        требует ующих условий активизации.
            .row
                .col
                    button.btn.comment-btn.btn-danger Все отзывы

