.company
    .container
        .row
            .col
                .company__title.title О компании
        .row
            .col-6
                .company__desc.desc.
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада не дает нам иного выбора, кроме.
                    определения поэтапного и последовательно развития общества. Предварительные выводы неутешительны: глубокий уровень погружения предполагает независимые способы реализации прогресса профессионально
                    сообщества.
                    <br> 
                    С учетом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности требуется анализа соответствующих условий активизации. 
                    <br> 
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада не дает нам иного выбора, кроме определения поэтапного и последовательного
                    разхвития общества. Предварительные выводы неутешительны: глубокий уровень погружения предполагает независимые способы реализации прогресса профессионального сообщества. 
            .col-6
                .row
                    .col
                        span.company__number 3912
                        h4.company__heading позиций
                        p.company__text Имеется на Ваш выбор для создания сайта
                    .col
                        span.company__number 5659
                        h4.company__heading заказчиков
                        p.company__text Обращаются к нам на протяжении нескольких лет
                    .col
                        span.company__number 25
                        h4.company__heading специалистов
                        p.company__text Своего дела готовы ежедневно проконсультировать Вас
                    .w-100
                    .col
                        span.company__number 456
                        h4.company__heading элементов
                        p.company__text Имеется в нашем портфолио
                    .col
                        span.company__number 22
                        h4.company__heading года
                        p.company__text Мы работаем имеенно для Вас
                    .col
                        span.company__number 892
                        h4.company__heading специалистов
                        p.company__text Имеется на Ваш выбор для создания индивидуального сайта


