.contact
    .row
        .col-6.contact__block
            .contact__wrap
                .contact__title Контакты
                .contact__phone +7 (922) 222-22-22
                .contact__email uidkkn@mail.ru
                .contact__desc.
                        Высокий уровень вовлечения
                        Высокий уровень вовлечения
                        Высокий уровень вовлечения
                        Высокий уровень вовлечения
                        Высокий уровень вовлечения
                        Высокий уровень вовлечения
                .contact__social
                    a(href="#"): i.fa FB
                    a(href="#"): i.fa TW
                    a(href="#"): i.fa VK