footer.footer
    .container
        .row
            .col-9.footer__nav
                - var items = ["Навигация", "Информация", "Контакты", "Время работы", "О нас", "Портфолио"]
                each item in items
                    a.nav__link(href="#")=item
        .row
            .col-9.footer__copyright.
                    Высокий уровень вовлеченности представителей ццелевой аудитории является четким <br> доказательством простого факта: высокотехнологичнвя.
        .row
            .col.footer__social
                a(href="#"): i.fa FB
                a(href="#"): i.fa TW
                a(href="#"): i.fa VK