.header
    .container
        .row.align-items-center.justify-content-between
            .col.header__logo: a(href="#"): img(src="images/Logo.png", alt="Logo")
            .col.header__text Создание идеального <br> сайта Вашей компании
            .col.header__phone
                p.tel +7 (343) 200-22-92
                span.call-free Звонок бесплатный
            .col-auto.header__address г. Екатеринбург, <br> ул. 8 марта 22



