.hero
    .container
        .row
            .col-5
                .hero__title Создай свой идеальный сайт
                p.hero__desc Мы поможем воплотить cвой мечты в реальность
                button.btn.hero__btn.btn-danger Оставить заявку
                button.btn.hero__btn.btn-dark Подробнее