nav.nav
    .container
        .row.nav__wrapper.justify-content-between
            .col-10
                ul.nav__links
                    li.nav__link
                        a.nav__link-active.img-arrow(href="#") Услуги
                        ul.nav__links-nested
                            li.nav__link-nested
                                - var items = ["Создание сайта", "Продвижение сайтов", "Создание логотипов", "Создание логотипов"]
                                each item in items
                                    a(href="#")=item
                    li.nav__link
                        a(href="#") О нас
                    li.nav__link
                        a(href="#") Портфолио
                    li.nav__link
                        a(href="#") Контакты
                    li.nav__link
                        a(href="#") Отзывы
                    li.nav__link
                        a(href="#") Новости
            .col.nav__action
                a(href="#"): img(src="images/icon/search.png", alt="")
                a(href="#"): img(src="images/icon/basket.png", alt="")
                a(href="#"): img(src="images/icon/login.png", alt="")
