.news
    .container
            .row
                .col
                    .news__title Новости
            .row
                .col-2
                    img.news__img(src="images/skyscraper.jpg", alt="Новости")
                    .news__date 15 августа 2018 г
                    .news__heading Создание нового сайта именно для Вас
                    .news__desc Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичного
                .col-2
                    img.news__img(src="images/oia.jpg", alt="Новости")
                    .news__date 15 августа 2018 г
                    .news__heading Создание нового сайта именно для Вас
                    .news__desc Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичного
                .col-2
                    img.news__img(src="images/hong-kong.jpg", alt="Новости")
                    .news__date 15 августа 2018 г
                    .news__heading Создание нового сайта именно для Вас
                    .news__desc Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичного
                .col-2
                    img.news__img(src="images/city.jpg", alt="Новости")
                    .news__date 15 августа 2018 г
                    .news__heading Создание нового сайта именно для Вас
                    .news__desc Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичного
                .col-2
                    img.news__img(src="images/moscow.jpg", alt="Новости")
                    .news__date 15 августа 2018 г
                    .news__heading Создание нового сайта именно для Вас
                    .news__desc Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичного
                .col-2
                    img.news__img(src="images/city.jpg", alt="Новости")
                    .news__date 15 августа 2018 г
                    .news__heading Создание нового сайта именно для Вас
                    .news__desc Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичного