.pairs
    .container
        .row
            .col-8.pairs__wrap
                .pairs__title.title Партнеры
                .pairs__desc.
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного
                    уклада не дает нам иного выбора, кроме определения поэтапного.
        .row.slider
            .col.slider__inner
                .slider__item
                    .slider__img
                        img(src="images/MegaFon.png", alt="")
                .slider__item
                    .slider__img
                        img(src="images/MTS.png", alt="")
                .slider__item
                    .slider__img
                        img(src="images/Tele2.png", alt="")
                .slider__item
                    .slider__img
                        img(src="images/MegaFon.png", alt="")
                .slider__item
                    .slider__img
                        img(src="images/MTS.png", alt="")
                    