.pairs
    .container
        .row
            .col
                .pairs.title Партнеры
                .pairs__desc.
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного
                    уклада не дает нам иного выбора, кроме определения поэтапного.
        .row
            .slider