.portfolio
    .container
            .row
                .col
                    .portfolio__title.title Портфолио
            .row.portfolio__block-img
                .col-4
                    a(href="#"): img(src="images/architecture_1.jpg", alt="Картинка портфолио")
                .col-4
                    a(href="#"): img(src="images/architecture_1.jpg", alt="Картинка портфолио")
                .col-4
                    a(href="#"): img(src="images/architecture_1.jpg", alt="Картинка портфолио")
            .row.portfolio__block-img
                .col-4
                    a(href="#"): img(src="images/architecture_1.jpg", alt="Картинка портфолио")
                .col-4
                    a(href="#"): img(src="images/architecture_1.jpg", alt="Картинка портфолио")
                .col-4
                    a(href="#"): img(src="images/architecture_1.jpg", alt="Картинка портфолио")
            .row.portfolio__wraper
                .col
                    .portfolio__text.
                        Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада не дает 
                        нам иного выбора, кроме определения поэтапного и последовательного...  развития...Предварительные выводы неутешительны: глубокий уровень погружения предполагает 
                        независимые способы реализации прогресса профессионального сообщества. С учетом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности 
                        требует ующих условий активизации.
                    button.btn.portfolio-btn.btn-danger Посмотреть все фото