.comment
    .container
            .row
                .col
                    .comment__title.title Оставьте заявку
                    .comment__desc и мы свяжемся с вами в ближайшее время! 
            .row
                .col
                    form.form-group(action="" method="post")
                        input(type="text" placeholder="ваше имя")
                        i.fa.fa-acount
                        input(type="tel" placeholder="Ваш телефон")
                        i.fa.fa-phone
                        input(type="email" placeholder="ваш E-mail")
                        i.fa.fa-email
                        input(type="checkbox") 
                        label Я согласен(а) на обработку моих персональных данных.
                    button.btn.btn-danger Отправить заявку 
                        