.request
    .request__mask
        .container
            .row
                .col
                    .request__title Оставьте заявку
                    .request__desc и мы свяжемся с вами в ближайшее время! 
            .row
                .col
                    form.form-group(action="" method="post")
                        input(type="text" placeholder="Ваше имя" class="form-input")
                        .input__icon
                            .icon-user
                        input(type="tel" placeholder="Ваш телефон" class="form-input")
                        .input__icon
                            .icon-mobile
                        input(type="email" placeholder="Ваш E-mail" class="form-input")
                        .icon-envelope-o
                        label.checkbox 
                            input(type="checkbox")#checkbox__request
                            span.checkbox__custome
                            span.checkbox__text Я согласен(а) на обработку моих персональных данных.
                    button.btn.request-btn.btn-danger Отправить заявку
                            