.request
    .container
            .row
                .col
                    .request__title Оставьте заявку
                    .request__desc и мы свяжемся с вами в ближайшее время! 
            .row
                .col
                    form.form-group(action="" method="post")
                        input(type="text" placeholder="ваше имя")
                        img(src="images/icon/account.svg", alt="")
                        input(type="tel" placeholder="Ваш телефон")
                        img(src="images/icon/account.svg", alt="")
                        input(type="email" placeholder="ваш E-mail")
                        img(src="images/icon/account.svg", alt="")
                    input(type="checkbox") 
                    label Я согласен(а) на обработку моих персональных данных.
                    button.btn.request-btn.btn-danger Отправить заявку 
                        