.request
    .request__mask
        .container
            .row
                .col
                    .request__title Оставьте заявку
                    .request__desc и мы свяжемся с вами в ближайшее время! 
            .row
                .col
                    form.form-group(action="" method="post")
                        input(type="text" placeholder="Ваше имя" class="form-input")
                        .input__account
                            img(src="images/icon/account.png", alt="")
                        input(type="tel" placeholder="Ваш телефон" class="form-input")
                        .input__mobile
                            img(src="images/icon/mobile.png", alt="")
                        input(type="email" placeholder="Ваш E-mail" class="form-input")
                        .input__email
                            img(src="images/icon/email.png", alt="")
                        label.checkbox 
                            input(type="checkbox")#checkbox__request
                            span.checkbox__custome
                            span.checkbox__text Я согласен(а) на обработку моих персональных данных.
                    button.btn.request-btn.btn-danger Отправить заявку
                            