.request
    .container
            .row
                .col
                    .request__title Оставьте заявку
                    .request__desc и мы свяжемся с вами в ближайшее время! 
            .row
                .col
                    form.form-group(action="" method="post")
                        input(type="text" placeholder="Ваше имя" class="form-input")
                        img(src="images/phone.png", alt="", class="form-icon")
                        input(type="tel" placeholder="Ваш телефон" class="form-input")
                        img(src="images/phone.png", alt="", class="form-icon")
                        input(type="email" placeholder="Ваш E-mail" class="form-input")
                        img(src="images/phone.png", alt="", class="form-icon")
                    input(type="checkbox") 
                    label Я согласен(а) на обработку моих персональных данных.
                    button.btn.request-btn.btn-danger Отправить заявку 
                        