.specialist
    .container
            .row
                .col
                    .specialist__title.title Наши специалисты
            .row
                .col-4
                    img(src="", alt="Фотография человека")
                    p.specialist__profession Специалист создания
                    p.specialist__name Иванов Иван Иванович
                    p.specialist__text.
                        Высокий уровень вовлеченности представителей целевой аудитории является четким доказательством простого факта:
                        высокотехнологичная концепция общественного уклада не дает нам иного выбора, кроме.
                .col-4
                    img(src="", alt="Фотография человека")
                    p.specialist__profession Специалист создания
                    p.specialist__name Иванова Анна Ивановна
                    p.specialist__text.
                        Высокий уровень вовлеченности представителей целевой аудитории является четким доказательством простого факта:
                        высокотехнологичная концепция общественного уклада не дает нам иного выбора, кроме.
                .col-4
                    img(src="", alt="Фотография человека")
                    p.specialist__profession Специалист создания
                    p.specialist__name Иванова Анна Ивановна
                    p.specialist__text.
                        Высокий уровень вовлеченности представителей целевой аудитории является четким доказательством простого факта:
                        высокотехнологичная концепция общественного уклада не дает нам иного выбора, кроме.