.work
    .container
            .row
                .col
                    .work__title.title Этапы работы
            .row.justify-content-start.work__wrap
                .col-6.work__inner
                    .work__min-title Оформление заявки
                    .work__min-text.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                    .work__number 1.
            .row.justify-content-end.work__wrap
                .col-6.work__inner.work__inner-reverse
                    .work__number.work__number-reverse 2.
                    .work__min-title Предоставление материалов 
                    .work__min-text.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
            .row.justify-content-start.work__wrap
                .col-6.work__inner
                    .work__min-title Создание сайта
                    .work__min-text.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                    .work__number 3.
            .row.justify-content-end.work__wrap
                .col-6.work__inner.work__inner-reverse
                    .work__number.work__number-reverse 4.
                    .work__min-title Сдача готовых работ
                    .work__min-text.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.