.work
    .container
            .row
                .col
                    .work__title.title Этапы работы
            .row.justify-content-start.work__wrap
                .col-5
                    .work__title-min Оформление заявки
                    .work__text-min.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                .col-2
                    .work__number 1.
            .row.justify-content-end.work__wrap
                .col-2
                    .work__number 2.
                .col-5
                    .work__title-min Предоставление материалов 
                    .work__text-min.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
            .row.justify-content-start.work__wrap
                .col-5
                    .work__title-min Создание сайта
                    .work__text-min.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.
                .col-2
                    .work__number 3.
            .row.justify-content-end.work__wrap
                .col-2
                    .work__number 4.
                .col-5
                    .work__title-min Сдача готовых работ
                    .work__text-min.
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Possimus, voluptatem.